<div class="centered w-100">
  <div class="row m-3 mx-5">
    <div class="col text-center">
      <img src="assets/maca-music-logo.png" width="100px">
    </div>
  </div>
  <div class="row m-3 mx-5">
    <div class="col text-center">
      <button type="button" class="btn btn-primary w-100" (click)="showCover()">Mostrar</button>
    </div>
  </div>
  <div class="row m-3 mx-5">
    <div class="col text-center">
      <button type="button" class="btn btn-secondary w-100"  (click)="deleteCover()">Ocultar</button>
    </div>
  </div>
</div>